
*{
    background-color: lightblue;
     font-size: 20px;
         
}
.margin{
    margin: 30px;
    padding: 20px;
}
.container 
{

}

.row 
{

}

.panel {

}

.panel-primary {

}

.panel-body {

}
.table{
    align : center;
}

.body
{
    font-family: "Open Sans";
    color: blue;
}
.wrapper
{
    border: 1px solid #888;
    display: inline-block;
    padding:20px;

}

input[type="radio"] {
    display: none;
}

label {
    padding: 10px 20px;
    background-color: orange;
    border: thin solid darkorange;
    border-radius: 10px;
    margin:5px;
    display: inline-block;
}

.input[type="radio"]:checked + label {
    background-color: darkblue;
    cursor: default;
    color: blue;
}
.button{
    color: yellow;
    padding: 40px;
}
.btn{
    color: red;
    padding: 5px;
}
.div{
     background-color: green;
}
.p{
    background-color: darkcyan;
}